{{ doctype()|raw }}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        {{ headTitle(translate('Sistema')).setSeparator(' - ').setAutoEscape(false)|raw }}
        {{ headMeta().appendName('viewport', 'width=device-width, initial-scale=1.0')|raw }}

        <!-- Le styles -->
        {{ headLink({rel : 'shortcut icon', type : 'image/vnd.microsoft.icon', href : basePath() ~ '/public/img/favicon.ico'})
            .prependStylesheet(basePath() ~ '/public/css/app/style.css')
            .prependStylesheet(basePath() ~ '/bower_components/bootstrap/dist/css/bootstrap.min.css')|raw
        }}

        {% do headScript().setAllowArbitraryAttributes(true) %}
        {{ headScript().prependFile(basePath() ~ '/public/bower_components/html5shiv/dist/html5shiv.js',
                                    'text/javascript',{conditional : 'lt IE 9' })|raw }}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('usuario-admin/default') }}">JS Sistema</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% set partial = ['layout/navigation', 'default']
                        %}
                        {% do navigation('navigation').menu().setPartial(partial) %}
                        {{ navigation('navigation').menu().render()|raw }}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><strong>{{ identity().getNome() }}</strong></a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)" title='Mais Opções'>
                                <span class='glyphicon glyphicon-list'></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url('usuario-admin/default',{action: 'editar',codigo: identity().getCodigo()})}}">Editar Usuário</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url('logout') }}">
                                        <span class='glyphicon glyphicon-log-out'></span>&nbsp;Sair
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id='container' class="container col-lg-12">
            <div class='row'>
                <div id='content' class='col-md-12'>{{ content|raw }}</div>
            </div>
        </div>
    </body>
</html>